/* .carousel-item {
    height: 200px;
    width: 500px;
} */


.nisha:hover{
    background-color: red;
}
.nisha{
    color: blue;
    width: 100%;
    font-size: 25px;
    border-radius: 3em;
    height: 100px;
    width: 20px;
     background-color: ;
}


